@import "./extends";

.chatRoom {
  cursor: pointer;
  transition: 0.5s;

  background-color: #dcdde14f;
  &:hover {
    background-color: #dcdde1;
  }
  min-height: 10%;
  display: flex;
  text-align: center;
  align-content: center;
  overflow: hidden;
}
.createRoom,
.connectToRoom {
  cursor: pointer;
  user-select: none;
  display: flex;
  text-align: center;
  font-weight: 600;

  .card-header {
    transition: 0.25s;
    &:hover {
      background-color: #44bd3265;
    }
  }
}
.connectToRoom .card-header {
  transition: 0.25s;
  &:hover {
    background-color: #3257bd65;
  }
}
.lineBorder {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.616); //#353b48a6;
  border-radius: 2px;
}
#channelWrapper {
  height: 100%;
  width: 100%;
}
