$channelInfoH: 5%;
$chatFieldH: 85%;
$chatFieldTopMargin: 2%;
$messageFieldH: 10%;

.channelInfo {
  position: relative;
  height: $channelInfoH;
  max-height: $channelInfoH;
  border: 1px solid black;
  .row {
    height: 100%;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      .link {
        cursor: pointer;
        user-select: none;
        // margin-top: auto;
      }
    }
  }
  .badge {
    transition: 0.3s;
    &:hover {
      background-color: #273c75d5; //#2f3640;
    }
  }
}
.chatField {
  position: relative;
  height: calc(#{$chatFieldH} - #{$chatFieldTopMargin});
  max-height: calc(#{$chatFieldH} - #{$chatFieldTopMargin});
  border: 2px solid black;
  margin-top: $chatFieldTopMargin;
  overflow: scroll;
}

.messageField {
  position: relative;
  height: $messageFieldH;
  max-height: $messageFieldH;
  //
  .messageInputBox {
    position: absolute;

    width: 100%;
  }
}

.toast-header {
  cursor: default;
  button {
    display: none;
  }
}

.panelHeader {
  display: flex;
  text-align: center;
  align-content: center;
  margin-top: 20%;
}
.usersPanel {
  height: 70%;
  & > div {
    margin-top: 5%; //calc(#{$channelInfoH} + #{$chatFieldTopMargin});
  }
  li {
    overflow: hidden;
    white-space: nowrap;
  }
}
